@model Viglacera.Models.tblConfig
@Html.Raw(ViewBag.h1)
<div id="Top">
    <div id="Content_Top">
        <div id="Left_Content_Top"></div>
        <div id="Center_Content_Top">
            <div id="Contacts"> 
               @Html.Raw(ViewBag.Chuoihotline) 
            </div>
            <div id="Support">
                <div id="Yahoo">
                    <span class="iCon_Yahoo"></span> : Hỗ trợ Yahoo
                    <div id="Content_Yahoo">
                        @Html.Raw(ViewBag.yahoo)
                        <div class="Clear"></div>
                        <div class="Note">
                            <p>Hệ thống hỗ trợ khách hàng từ 8h đến 22h tất cả các ngày trong tuần.</p>
                        </div>
                    </div>
                </div>
                <div id="Skype">
                    <span class="iCon_Skype"></span> : Hỗ trợ Skype
                    <div id="Content_Skype">
                        @Html.Raw(ViewBag.skype)
                         
                        <div class="Clear"></div>
                        <div class="Note">
                            <p> Hệ thống hỗ trợ khách hàng từ 8h đến 22h tất cả các ngày trong tuần.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="Right_Content_Top"></div>
    </div>
</div>