<div id="Menu">
    <div id="ContentMenu">
        <ul id="ul_1">
            <li class="li_1">
                <a href="/" title="Trang chủ" rel="nofollow"><span class="iConHomes"></span>Trang chủ</a>
            </li>
          
             @Html.Raw(ViewBag.Menu)
            <li class="li_1">
                <a href="/2/gioi-thieu-39.aspx" title="Giới thiệu" rel="nofollow"> Giới thiệu</a>
            </li>

            <li class="li_1">
                <a href="/3/tin-tuc-11.aspx" title="Tin tức"> Tin tức</a>
            </li>
             
        </ul>
    </div>
</div>