@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Viglacera.Models.tblGroupProduct>
@using Viglacera.Models;

@using (Html.BeginForm())
{   @Html.ValidationSummary(true)
 <div class="container-fluid">
    <div style="width: 100%; margin: 0 auto;">
        <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
            <ul>
                <li class='SecondLast'><a href=""><i class="icon-home" style="font-size:14px;"></i> Trang chủ</a></li>
                <li class='Last'><span>Danh mục sản phẩm</span></li>
            </ul>
        </div>
        <div style="clear: both;"></div>
        <div id="cph_Main_ContentPane">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-list-alt"></i>&nbsp;Danh mục sản phẩm</h4>

                    <div class="ui-widget-content ui-corner-top ui-corner-bottom">
                        <div id="toolbox"> 
                            <div style="float:right;" class="toolbox-content">
                                <div id="msg" class="msg" style="float:left">
                                    <div class="alert alert-info" id="update-message">
                                    </div>
                                </div>
                                <table class="toolbar">
                                    <tr>
                                        <td align="center">
                                            <a id="Create_Them" title="Thêm mới" class="toolbar btn btn-info btnCreate" href="../../GroupProduct/Create?id=@ViewBag.idMenu">
                                                <i class="icon-plus"></i>&nbsp;
                                                Thêm danh mục
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a id="Create_Product" title="Thêm mới" style="background:#49afcd" class="toolbar btn btn-info btnCreate" href="../../Productad/Create?id=@ViewBag.idMenu">
                                                <i class="icon-plus"></i>&nbsp;
                                                Thêm sản phẩm
                                            </a>
                                        </td>
                                        <td align="center">
                                            <button type="submit" class="toolbar btn btn-info" name="btnDelete" id="btnDelete"><i class="icon-trash"></i>&nbsp;Xóa</button> 
                                        </td>
                                        <td align="center">
                                            <a id="cph_Main_ctl00_toolbox_rptAction_lbtAction_0" title="Trợ giúp"  style="color:#FFF !important" class="toolbar btn btn-info" href="">
                                                <i class="icon-question-sign"></i>&nbsp;
                                                Trợ giúp
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="hiddenToolBarScroll" class="scrollBox hidden">
                        <h4>
                            <i class="icon-list-alt"></i>&nbsp;Danh mục sản phẩm
                        </h4>
                        <div class="FloatMenuBar">

                            <div class="ui-widget-content ui-corner-top ui-corner-bottom">
                                <div id="toolbox">

                                    <div style="float:right;" class="toolbox-content">
                                        <div id="msg" class="msg" style="float:left">
                                            <div class="alert alert-info" id="update-message">
                                            </div>
                                        </div>
                                        <table class="toolbar">
                                            <tr>

                                                <td align="center">
                                                    <a id="Create_Them" title="Thêm mới" class="toolbar btn btn-info btnCreate" href="../../GroupProduct/Create?id=@ViewBag.idMenu">
                                                        <i class="icon-plus"></i>&nbsp;
                                                        Thêm danh mục
                                                    </a>
                                                </td>
                                                <td align="center">
                                                    <a id="Create_Product" title="Thêm mới" style="background:#49afcd" class="toolbar btn btn-info btnCreate" href="../../Productad/Create?id=@ViewBag.idMenu">
                                                        <i class="icon-plus"></i>&nbsp;
                                                        Thêm sản phẩm
                                                    </a>
                                                </td>
                                                <td align="center">
                                                    <button type="submit" class="toolbar btn btn-info" name="btnDelete" id="btnDelete"><i class="icon-trash"></i>&nbsp;Xóa</button>

                                                </td>
                                                <td align="center">
                                                    <a id="cph_Main_ctl00_toolbox2_rptAction_lbtAction_0" title="Trợ giúp"  style="color:#FFF !important" class="toolbar btn btn-info" href="">
                                                        <i class="icon-question-sign"></i>&nbsp;
                                                        Trợ giúp
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span3">
                            <div id="sample_1_length" class="dataTables_length">
                                <select name="ddlPage" id="ddlPage" style="width:160px;">
                                    <option value="10">10 Bản ghi / trang</option>
                                    <option selected="selected" value="20">20 Bản ghi / trang</option>
                                    <option value="30">30 Bản ghi / trang</option>
                                    <option value="50">50 Bản ghi / trang</option>
                                    <option value="100">100 Bản ghi / trang</option>

                                </select>
                            </div>
                        </div>
                        <div class="span9 form-search pull-right text-right">

                            <input name="txtSearch" type="search" maxlength="100" id="txtSearch" placeholder="Tên danh mục" style="width:200px;" />

                            @Html.DropDownList("drMenu", "Hiển thị tất danh mục")
                             <a class="btn " href="#"><i class="icon-filter"></i> Lọc danh mục con</a>
                        </div>
                    </div>
                    <div id="cph_Main_ctl00_notification_divNotice" style="padding-top:10px;">
                        <!-- Messange -->
                        @Html.Raw(ViewBag.thongbao)

                        <!-- End Messange -->
                    </div>
                    <div>
                        @{Html.RenderAction("PartialGroupProduct", "GroupProduct");}




                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

}
<script>
    $(function () {
        //$("input").keypress(function () {
        $(document).ready(function () {
            $('#txtSearch').keyup(function () {
                var text = $(this).val();
                
                $.post("/GroupProduct/PartialGroupProduct", { "text": text }, function (data) {
                    $('#ajaxnhan').html(data);
                })
            });
        });
        $("#drMenu").change(function () {
            //your code

            var idCate = $("#drMenu").val();
            $.post("/GroupProduct/PartialGroupProduct", { "idCate": idCate },
                function (data) {
                    $('#ajaxnhan').html(data);
                    $("#Create_Them").replaceWith("<a id='Create_Them' title='Thêm mới' class='toolbar btn btn-info btnCreate' href='../../GroupProduct/Create?id=" + idCate + "'><i class='icon-plus'></i>&nbsp;Thêm danh mục</a>");
                    $("#Create_Product").replaceWith("<a id='Create_Product' title='Thêm mới' class='toolbar btn btn-info btnCreate' href='../../Productad/Create?id=" + idCate + "'><i class='icon-plus'></i>&nbsp;Thêm sản phẩm</a>");
                });

            //
        });
        $("#ddlPage").change(function () {
            //your code

            var pageSizes = $("#ddlPage").val();
            $.post("/GroupProduct/PartialGroupProduct", { "pageSizes": pageSizes },
                function (data) {
                    $('#ajaxnhan').html(data);
                });

            //
        });
        $(".alert").hide();

        $(".alert1").show();

    });

</script>
<script>
    function SelectAllCheckboxes(chk) {
        $j('#cph_Main_ctl00_ctl00_grvProducts >tbody >tr >td:nth-child(1)').find("input:checkbox").attr('checked', chk.checked);
    }
    function CheckSelectAtLeastOne() {
        var checked = false;
        $j('#cph_Main_ctl00_ctl00_grvProducts >tbody >tr >td:nth-child(1)').find("input:checkbox").each(function () {
            if (this.checked) { checked = true; }
        });
        if (checked == false) {
            alert('Hãy chọn ít nhất 1 sản phẩm để thao tác');
            return false;
        } else { return true; }
    }
    function ConfirmDelete() {
        if (CheckSelectAtLeastOne()) {
            var confirmAlert = 'Bạn có chắc chắn muốn xóa không?';
            $j('#cph_Main_ctl00_ctl00_grvProducts >tbody').find("tr").each(function () {
                var checked = false;
                var imgChecked = false;
                $j(this).find('img[src="http://st.hangtot.com/favicon.ico"]').each(function () {
                    imgChecked = true;
                });
                $j(this).find("input:checkbox:first").each(function () {
                    if (this.checked) { checked = true; }
                });
                if (checked == true && imgChecked == true) {
                    confirmAlert = 'Bạn có chắc chắn muốn xóa không'
                }
            });
            return confirm(confirmAlert);
        }
        return false;
    }


    function UpdateMenuProduct(pId) {

        var linkUpdateId = $j("#lbtUpdateProduct" + pId);
        var orderNumber = $j(linkUpdateId).closest('tr').children(".OrderNumber").children("#txtOrderNumber").val();
        var ddlMenu = $j(linkUpdateId).closest('tr').children(".ddlMenu").children("#ddlMenu").val();
        var cbIsActive;
        if ($j(linkUpdateId).closest('tr').children(".Active").children("#cbIsActive:checked").is(':checked')) { cbIsActive = 'true'; }
        else { cbIsActive = 'false'; }
        var Priority;
        if ($j(linkUpdateId).closest('tr').children(".Priority").children("#Priority:checked").is(':checked')) { Priority = 'true'; }
        else { Priority = 'false'; }
        var querystring = "{ 'id':'" + pId + "'," +
                             "'order':'" + orderNumber + "'," +
                            "'Active':'" + cbIsActive + "'," +
                                  "'order':'" + orderNumber + "'," +
                             "'Priority':'" + Priority + "'," +
                                "'idCate':'" + ddlMenu + "'" + "}";

        $j.ajax({
            beforeSend: function () { },
            type: "POST",
            url: "/GroupProduct/UpdateGroupProduct",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: querystring,
            success: function (response) {
                var result = response.result;
                if (result == "true") { }
                else {
                    $(".alert").replaceWith("<div class='alert alert-info'>Bạn đã thay đổi " + result + "</div>");
                    $(".alert").fadeOut(2000);
                }
            }
        });

        return false;
    }

    function DeleteMenuProduct(pId) {
        if (confirm('Bạn có chắc chắn muốn xóa không ?')) {

            id = pId;
            var querystring = "{'id':'" + id + "'}";
            $j.ajax({
                beforeSend: function () { },
                type: "POST",
                url: "/GroupProduct/DeleteGroupProduct",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: querystring,
                success: function (response) {
                    var result = response.result;
                    if (result == "true") { }
                    else {
                        $(".alert").replaceWith("<div class='alert alert-info'>Bạn đã xóa thành công</div>");
                        $(".alert").fadeOut(5000);
                        location.reload();
                    }
                }
            });
        }
        return false;
    }
</script>